<div class="container">
	
	<div ng-repeat="user in users | filter: {username: name}:true">
	<h1>Username: {{user.username}}</h1>

		<form action="" method="POST">
			<div class="form-group">
				<label for="fname" class="control-label">First name</label>
				<input type="text" ng-model="user.name" class="form-control" name="fname" placeholder="First name">
			</div>
			<div class="form-group">
				<label for="lname" class="control-label">Last name</label>
				<input type="text" ng-model="user.last_name" class="form-control" name="lname" placeholder="Last name">
			</div>
			<div class="form-group">
				<label for="email" class="control-label">Email</label>
				<input type="email" ng-model="user.email" class="form-control" name="email" placeholder="Email">
			</div>

			<div class="form-group">
				<label for="pass" class="control-label">Password</label>
				<input type="password" ng-model="user.password" class="form-control" name="pass" placeholder="Password">
			</div>
			<div class="form-group">
				<div class="col-md-6 col-xs-12">
					<label for="">Card background</label>
					<div class="button drop-box" ngf-drop ngf-select ng-model="fileuser" name="fileuser" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB">
						Click or drag and drop here an image for the user image.
						Recommended 300x300 (16:9)
					</div>
					<img ngf-src="fileuser" class="evt-img-preview"/>
				</div>
				<div class="col-md-6 col-xs-12">
					<label for="">Card background</label>
					<div class="button drop-box" ngf-drop ngf-select ng-model="filebckg" name="filebckg" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="3MB">
						Click or drag and drop here an image for the user background.
						Recommended 1280x720 (16:9)
					</div>
					<img ngf-src="filebckg" class="evt-img-preview"/>
				</div>
			</div>

			<button type="button" class="btn btn-lg btn-info" 
			data-ng-click="update(user.password,user.name,user.last_name,user.email,fileuser,filebckg)" 
			name="add">Update</button>
		</form>
	</div>

</div>