<div class="container">
	<form>
		<div class="button-list">
			<div class="col-md-6 col-xs-12">
				<span>
				<input placeholder="Search by name" type="text" ng-model="nameFilter" class="form-control">
				</span>
			</div>
			<div class="col-md-6 col-xs-12">
				<span>
					<a name="group1" class="btn btn-info" ng-model="eventFilter" ng-click="eventFilter = ''">All</a>
				</span>
				<span>
					<a name="group1" class="btn btn-info" ng-model="eventFilter" value="music" ng-click="eventFilter = 'music'">Music</a>
				</span>
				<span>
					<a name="group1" class="btn btn-info" ng-model="eventFilter" value="theatre" ng-click="eventFilter = 'theatre'">Theatre</a>
				</span>
				<span>
					<a name="group1" class="btn btn-info" ng-model="eventFilter" value="cinema"
					ng-click="eventFilter = 'cinema'">Cinema</a>
				</span>

				<span>
					<a name="group1" class="btn btn-info" ng-model="eventFilter" value="sport"
					ng-click="eventFilter = 'sport'">Sport</a>
				</span>
			</div>
		</div>
	</form>

	<div ng-repeat="event in eventsFiltered = (events | filter: {organizer: userFilter, category: eventFilter, name: nameFilter})">
		<div class="col-md-6 col-xs-12">
			<div class="event" >
				<div class="hovereffect">
					<img class="event-image" src="upload/{{event.image_background}}" alt="">
					<div class="overlay">
						<h2 class="event-name evt-textwhite preserve-linebreaks">{{event.name | uppercase}}</h2>
						<p class="event-category evt-textwhite">Category: <span class="normalized-text">{{event.category}}</span></p>
						<p class="event-places evt-textwhite">Places: {{event.places}}</p>
						<p class="event-organizer evt-textwhite">Organizer: <span class="normalized-text">{{event.organizer}}</span></p>
						<p> 
							<a class="evt-see-more" href="#/event/{{event.name}}">See more</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="hidden-text" ng-show="!eventsFiltered.length">
		<p>There are no events registered</p>
	</div>
</div>