<div class="event-view">
	<div ng-repeat="event in eventsFiltered = (events | filter: {name: eventName}:true)">
		<div class="evt-header-container" ng-style="{'background-image': 'url(upload/{{event.image}})'}">
		</div>

		<div class="container">
			<h1 class="text-center event-separator ">{{event.name | uppercase}}</h1>
			<p class="event-separator-left preserve-linebreaks">{{event.description}}</p>
			<div class="evt-key-number">
				<p class="evt-upper-text">{{event.category}}</p>
				<p class="evt-lower-text">CATEGORY</p>
			</div>
			<div class="evt-key-number">
				<p class="evt-upper-text">{{places.nmbPlaces}}/{{event.places}}</p>
				<p class="evt-lower-text">PLACES</p>
			</div>
			<div class="evt-key-number">
				<p class="evt-upper-text">{{event.price}}€</p>
				<p class="evt-lower-text">PRICE</p>
			</div>
			<div class="evt-key-number">
				<p class="evt-upper-text"> <a href="#/user/{{event.organizer}}">{{event.organizer}}</a></p>
				<p class="evt-lower-text">ORGANIZER</p>
			</div>
			
			<div>
				
				<div class="container-users users-following" ng-repeat="user in followingUsers | limitTo:5">
					<a href="#/user/{{user.username}}">
						<img src="upload/{{user.image}}" title="{{user.username}}">
					</a>
				</div>
				<p ng-show="followingUsers.length">Users you are following who subscribed to this event</p>
				
				<div class="container-users users-unknown" ng-repeat="user in unknownUsers | limitTo:5">
					<a href="#/user/{{user.username}}">
						<img class="user-img-unknown" src="upload/{{user.image}}" title="{{user.username}}">
					</a>
				</div>
				<p ng-show="unknownUsers.length">Users who subscribed to this event</p>
			</div>

			<div class="text-center">
				<button class="btn btn-success" ng-show="showButton(event.organizer, false)" data-ng-click="subscribe()">
					Subscribe to event
				</button>
				<button class="btn btn-danger" ng-hide="showButton(event.organizer, true)" data-ng-click="unsubscribe()">
					Unsubscribe to event
				</button>
				<a href="#/edit/event/{{event.name}}" class="btn btn-info btn-lg" ng-show="event.organizer == user">
					Edit
				</a>
			</div>
		</div>
	</div>

	<div ng-hide="eventsFiltered.length">
		<p>There are no events registered</p>
	</div>
</div>