<div class="container">
	<h1>Login</h1>
	<form name="lgnform" action="" method="POST">
		<div class="form-group">
			<label for="user" class="control-label">Username</label>
			<input type="text" ng-model="user.username" class="form-control" name="user" ng-focus="message=''" placeholder="Username" ng-model-options="{ updateOn: 'blur' }" ng-pattern="/^[a-zA-Z-0-9]+$/" required>
			<span class="error-input" ng-show="lgnform.user.$error.pattern">User must contain only letters and numbers.</span>
		</div>
		<div class="form-group">
			<label for="pass" class="control-label">Password</label>
			<input type="password" ng-model="user.password" class="form-control" name="pass" ng-focus="message=''" ng-blur="" placeholder="Password" ng-pattern="/^[a-zA-Z-0-9]+$/" required>
			<span class="error-input" ng-show="lgnform.pass.$error.pattern">Password must contain only letters and numbers.</span>
		</div>
		<!-- <input type="submit" value="Register" name="submit" /> -->
		<p ng-if="message != '' && message != true" class="alert alert-danger">{{message}}</p>
		<button type="button" class="btn btn-primary" data-ng-click="login()" name="add"  ng-disabled="lgnform.$invalid">Login</button>
		<a class="btn btn-primary fake-button" href="#/register-user">Register user</a>
	</form>
</div>