<div class="event-view">
	<div ng-repeat="user in users | filter: {username: name}:true">
		<div class="usr-header-container" ng-style="{'background-image': 'url(upload/{{user.image}})'}">

		</div>
		<div class="container relative-container text-center">
			
			<div class="profile-user-image">
				<img src="upload/{{user.image}}" alt="">
			</div>
			<div class="user-data">
				<p>First name: {{user.name}}</p>
				<p>Username: {{user.username}}</p>
				<p>Email: {{user.email}}</p>
			</div>

			<button class="btn btn-success" ng-show="showButton(false)" data-ng-click="followUser()">
				Follow
			</button>

			<button class="btn btn-danger" ng-hide="showButton(true)" data-ng-click="unfollowUser()">
				Unfollow
			</button>
		</div>
	</div>
</div>	